ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #627693;
  }

  body {
      background-image: url(vlinder.JPG);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
   }

.vierkant {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    border: 12px double #627693;
    position: center;
    text-align: center;
    margin-top: 5%;
    margin-left: 65%;
    color:  #627693;
    font-family: Vladimir Script;
    font-size: 40px;
}

