ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #E3B1E9;
  }

  .roze {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: rgb(244,214,224);
    font-size: 30px;
    text-align: center;
    margin: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
   /* font-family: Vladimir Script; */

   
  .dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: ponter;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a{
    color: black;
    padding: 12px 18px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: pink;}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: pink;
  }

  .header {
    background-image: url(bloemroze.JPG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 210px;
    padding-bottom: 210px; 
  }

.textborder {
  margin-left: 200px;
  width: 600px;
  height: 200px;  
  padding: 100px;
  border: 1px solid white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}




